@model BookModel

@{
    ViewData["Title"] = Model.Title;
}

<h3 class="offset-1">Book details</h3>
<div class="container mb-4">
    <div class="row">
        <div class="col-5 offset-1">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/505050.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/book.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/logo.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-5">
            <div class="row"><h1>@Model.Title</h1></div>
            <div class="row"><h6 class="text-primary">@Model.Author</h6></div>
            <div class="row"><p>@Model.Description</p></div>
            <div class="row-cols-auto"><button class="btn btn-outline-primary">Read Now</button></div>
            <hr />

            <ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">Category - @Model.Category</span></li>
                <li class="list-group-item"><span class="font-weight-bold">Total pages - @Model.TotalPages</span></li>
                <li class="list-group-item"><span class="font-weight-bold">Language - @Model.Language</span></li>
            </ul>
        </div>
    </div>
</div>


<h3 id="similarBooks">Similar books</h3>

<div class="container">
    <div class="row">
        @for (int i = 0; i < 6; i++)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="~/images/505050.png" class="card-img-top" alt="..." width="100%" height="255">
                    <div class="card-body">
                        <h5 class="card-title">Book title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#" class="btn btn-outline-secondary">View</a>
                            <small class="text-muted">Author Name</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>